{% extends 'base.html.twig' %}

{% block content %}
	<div class="container tm-mt-big tm-mb-big">
		<div class="row">
			{% if posts|default is empty %}
				<div class="alert alert-danger text-center">
					<strong>No posts found.</strong>
				</div>
			{% else %}
				{% for post in posts %}
					<div class="col-sm-4 mb-5 pb-4">
						<div class="card" style="width: 18rem;">
							<img class="card-img-top" src="{{ asset(post.image) }}" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">{{ post.title }}</h5>
								<p class="card-text">{{ post.body|u.truncate(30, '...') }}</p>
								<a href="{{ path('app_post_show', {id: post.id}) }}" class="btn btn-primary">Show</a>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}
